<div class="row-fluid gridify">
  <div class="span12 profile" style="margin-left:1%;padding-left:0;padding-bottom:5px">
    <div class="image">
      <img src="<%= friend["thumbnail_url"] %>" />
    </div>
    <h2><%= friend["name"] %></h2>
    <div class="actions">
      <a href="#" class="btn btn-mini btn-inverse"><i class="icon icon-envelope icon-white"></i></a>
    </div>

  </div>
  <div class="span12 content">
    <% (1..6).each do |i| %>
    <div class="block">
      <div class="main">
        <img class="" src="/img/samples/<%= i %>.jpg"/>
      </div>
      <div class="info">
        <div class="pull-right actions">
          <a class="btn btn-mini" href="#">21 <i class="icon icon-thumbs-up"></i></a>
          <a class="btn btn-mini" href="#">6 <i class="icon icon-comment"></i></a>
        </div>
        <p class="small">Some description / meta</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>
