<div class="tiled">
  <div class="wrap">

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

    <% (1..11).each do |i| %>
      <div class="tile">
        <div class="img">
          <img src="/img/landing/<%= i %>.png">  
        </div>
      </div>
    <% end %>

  </div>
  <div class="hometext">
      <div class="logo_div">
        <img src="/img/webgoggleslogo_large.png">
      </div>

      <div class="slogan_div">
        <p>"See the web the way you want to see it."</p>
      </div>

      <div class="pitch_div">
        <p>WebGoggl.es is a web app that helps you customize your viewing experience on familiar sites like Facebook, Amazon and Yelp, filtering out what you don’t want to see and showing you more of the stuff you love.</p>
      </div>

      <div class="form_div">
        <form>
          <center><button type="submit" class="btn btn-large btn-warning" style="margin-left:-30px;">Sign in with facebook</button></center>
        </form>
      </div>
    </div>
</div>
