<div class="row">
  <% 13.times do%>
  <div class="hometile">
    <div class="img_container">
      <img src="/img/landing/1.png">  
    </div>
  </div>
  <% end %>
  <div class="logo_div">
    <img src="/img/webgoggleslogo_large.png">
  </div>
  <div class="slogan_div">
    <p>"See the web the way you want to see it."</p>
  </div>
  <% 6.times do%>
  <div class="hometile">
    <div class="img_container">
      <img src="/img/landing/1.png">  
    </div>
  </div>
  <% end %>
  <div class="pitch_div">
    <p>"WebGoggl.es is a web app that helps you customize your viewing experience on familiar sites like Facebook, Amazon and Yelp, filtering out what you don’t want to see and showing you more of the stuff you love."</p>
  </div>
  <div class="form_div">
    <form>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email Address"><br />
      <button type="submit" class="btn btn-warning">Sign in</button>
    </form>
  </div>
  <% 21.times do%>
  <div class="hometile">
    <div class="img_container">
      <img src="/img/landing/1.png">  
    </div>
  </div>
  <% end %>
  
</div>