/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
        background:#151A1F;
        min-height:100%;
}
.container-fluid {
        padding:0;
}

.row-fluid [class*="span"], .row-fluid [class*="span"]:first {
        margin-left:1%;
}
.row-fluid .span12 {
        width:98%;
}
.header {
        background:black;
        background:rgba(0,0,0,0.9);
        box-shadow:0 0 10px rgba(0,0,0,0.5);
        left:0;
        position:fixed;
        top:0;
        width:100%;
        z-index:1000;
}
.header .brand h1 {
        display:inline-block;
        line-height: 1em;
        margin: 0;
        /*padding: 10px 30px;*/
        font-weight:100;
        font-size:1em;
}
.header .brand a {
        color:white;
        display:block;
        font-size:18px;
        padding:10px 0;
}
.masthead ul {
        display:inline-block;
        list-style:none;
        margin:0;
        padding:0;
        width:100%;
}
.masthead ul li {
        float:left;
        text-align:center;
        width:150px;
}
.masthead ul li a {
        color:#666;
        display:block;
        font-size:15px;
        text-transform:uppercase;
}
.gridify {
        overflow:hidden;
        background:#fff;
}
.gridify .content {
        padding:10px 0;
        min-width:2000px;
        margin-left:1%;
        margin-top:5px;
}
.image img {
        max-width:100%;
}
.info h2 {
        font-size:30px;
        font-weight:300;
        color:#333;
}
.block {
        float:left;
        overflow:hidden;
        margin-right:10px;
        position:relative;
}
.block:hover {
        cursor:pointer;
}

.block .main {
        border-radius:5px;
        box-shadow:0 0 3px rgba(0,0,0,0.1);
        border: 1px solid #EEE;
        height:150px;
        margin-bottom:10px;
        padding:10px;
        overflow:hidden;
        /*width:200px;*/
}
.block:hover .main {
        box-shadow:0 0 3px rgba(0,0,0,0.4);
}

.block .main img {
        max-width:200%;
        max-height:100%;
        width:auto;
}
.block .main p {
        color:#333;
        padding:10px;
        -webkit-font-smoothing:antialiased;
}
.block .info {
        opacity:0;
}
.block .actions {
        text-align:right;
}

.profile {
        border-bottom:2px solid #eee;
        padding:10px;
}
.profile .actions {
        display:none;
        line-height:1em;
        left:0;
        min-height:0;
        max-height:25px;
        padding:5px;
        position:relative;
        right:auto;
        top:0;
        width:auto;
}
.profile .image {
        float:left;
        height:60px;
        margin-right:10px;
        margin-bottom:5px;
        margin-left:12px;
        margin-top:5px;
        overflow:hidden;
        position:relative;
        width:60px;
}
.profile .image img {
        border-radius:5px;
        max-width:100%;
        max-height:150%;
        min-height:100%;
}

.profile .info {
        position:relative;
        width:100%;
}
.profile h2 {
        color: #333;
        display: block;
        float:left;
        font-weight: 300;
        line-height: 1em;
        margin: 30px 10px 0 0;
        padding: 5px;
}
.block.text {
        background:rgba(255,255,255,0.1);
}



/*
 * helpers
 *
 */

.margin-top {
        margin-top:0px;
        position:relative;
}
.hidden {
        display:none;
}
.small {
        font-size: 12px;
        color: #999;
        margin: 0;
        padding:5px;
        line-height: 1em;
        font-weight: 300;
        max-width:150px;
}
.btn.btn-mini {
        background:#fff;
        border-color:#eee;
}
.btn.btn-mini i {
        margin-top:0;
        opacity:0.7;
}

/*======Navbar======*/

.navbar {
        margin-bottom: 0px;
}
.navbar-inner {
        box-shadow:0 0 10px #333;
        min-height: 70px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        padding-top: 20px;
}

#log_container {
        margin-top: 9px;
}

#log_in {
  margin-top: 26px; 
  font-size: .9em; 
}

#logged_in_as {
        font-size: .8em;
        width: 100%;
        color: white;
}

#log_out {
        margin-top: 31px;
        margin-left: 10px;
        font-size: .8em;
        width: 100%;
}

#log_out a {
        color: gray;
}

#user_name {
        padding: 0px;
        width: 100%;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
}

button img {
        width: 80px;
}

.caret {
        margin-top: 20px;
        color: white;
}

.goggle_button {
        margin-right: 15px;
}

.btn-large {
        padding-top: 8px;
        padding-right: 15px;
        padding-bottom: 11px;
        padding-left: 15px;
}

.tiled {
        position:absolute;
        width:100%;
        height:100%;
        max-height:100%;
        top:0;
        overflow:hidden;
        overflow:none;
}
.tiled .wrap {
        position:absolute;
        margin-top:0;
        width:2002px;
        left:50%;
        margin-left:-912px;
}
.tile {
        float: left;
        width: 199px;
        margin: 2px;
}

.tile img{
        width: 100%;
}
.hometext {
        position: absolute;
        width: 1024px;
        margin-left: -510px;
        top: 202px;
        left: 50%;
}


.img {
}
.row {
        margin-left: 0px;
        margin-right: 0px;
}

.logo_div {
        background: #151A1F;
        float: left;
        width: 767px;
        text-align: center;
        height: 204px;
}

.logo_div img {
        margin-top: 7%;
        max-width:80%;
}

.slogan_div {
        float: left;
        width: 207px;
        text-align: center;
        padding: 2.5%;
        padding: 65px 50px 39px 0;
        color: white;
        font-size: 1.5em;
        font-family: georgia;
        background: #151A1F;
}

.slogan_div p {
        font-size:30px;
        line-height:1em;
}

.pitch_div {
        float: left;
        width: 449px;
        padding-left: 1.25%;
        padding-right: 1.25%;
        color: white;
        font-size: .8em;
        font-family: verdana;
        margin-left: 208px;
        background: #151A1F;
        height: 175px;
        padding: 15px 30px;
}
        .pitch_div p {
                font-family:Helvetica;
                font-size:20px;
                color:white;
                line-height:1.4em;
                font-weight:400;
                -webkit-font-smoothing:antialiased;
        }

.form_div {
        float: left;
        width: 305px;
        height:185px;
        font-size: .7em;
        background: #151A1F;
        font-family: verdana;
        padding-top: 20px;
}

form {
        margin-bottom: 0;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
        .form_div {
                font-size:.5em;
        }
        .slogan_div {
                font-size:0.9em;
        }
}


